﻿@{
    ViewData["Title"] = "O nas";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>Witamy w Kafejce – miejscu, gdzie pasja do kawy spotyka się z ciepłem domowej atmosfery! Nasza kawiarnia powstała z miłości do aromatycznych napojów, wykwintnych deserów i chwil, które można celebrować przy filiżance ulubionej kawy.</p>
<p>Od samego początku stawiamy na jakość, świeżość i lokalność. Nasze kawy pochodzą od starannie wyselekcjonowanych palarni, a składniki do deserów i dodatków wybieramy z troską, dbając o najwyższy standard.</p>
<p>W "Kafejce" każdy znajdzie coś dla siebie – od klasycznych espresso, przez kremowe latte, aż po unikalne kompozycje sezonowe. W naszym menu nie brakuje również smacznych ciast i deserów, które idealnie dopełniają chwilę relaksu w naszym lokalu.</p>
<p>Naszą misją jest nie tylko dostarczanie doskonałych produktów, ale także budowanie relacji z naszymi klientami. Dlatego stworzyliśmy program lojalnościowy, który pozwala nagradzać Was za każdą wizytę. Zbierajcie pieczątki, odkrywajcie nowe smaki i cieszcie się bonusami, które przygotowaliśmy specjalnie dla Was.</p>

<br />
<h4>Nasza historia</h4>
<p>Kafejka narodziła się z marzenia o stworzeniu miejsca, w którym każdy może poczuć się jak w domu. Wszystko zaczęło się od wspólnych rozmów przy kawie i pasji do odkrywania jej najróżniejszych smaków. W styczniu 2015 roku otworzyliśmy drzwi naszej kawiarni, z misją dzielenia się tą pasją z innymi.</p>
<p>Od tamtej pory nieustannie rozwijamy nasze menu, współpracujemy z najlepszymi dostawcami kawy i tworzymy wyjątkowe desery, które cieszą się uznaniem naszych gości. Nasze wnętrza wypełniają zapach świeżo parzonej kawy, śmiech i rozmowy – wszystko, co sprawia, że "Kafejka" to miejsce wyjątkowe.</p>
<p>Dziś jesteśmy dumni, że możemy być częścią Waszych codziennych chwil – od szybkiej porannej kawy po długie popołudnia spędzone w towarzystwie przyjaciół. To Wy inspirujecie nas każdego dnia, by serwować to, co najlepsze.</p>

<br />
<div class="text-center">
    <img src="~/images/kawiarnia1.jpg" alt="kawiarnia1" width="auto" height="400">
    <img src="~/images/kawiarnia2.jpg" alt="kawiarnia2" width="auto" height="400">
    <img src="~/images/kawiarnia3.jpg" alt="kawiarnia3" width="auto" height="400">
</div>
