@{
    ViewData["Title"] = "Kontakt";
}
<div class="text-center">
    <h1 class="dispaly-2">@ViewData["Title"]</h1>
    <br />
    <h4>Adres</h4>
    <p>ul. Jana Korczaka 57<br />60-324 Poznań, Polska</p>
    <br />
    <h4>Godziny otwarcia</h4>
    <p>Poniedziałek nieczynne</p>
    <p>Wtorek - Czwartek 13:00 - 21:00</p>
    <p>Piątek - Niedziela 12:00 - 22:00</p>

    <h4>Telefon</h4>
    <p>+48 796 348 383</p>
    <img src="~/images/mapa.png" alt="mapa" width="auto" height="500">
</div>
