@{
    ViewData["Title"] = "O nas";
}
<h1>@ViewData["Title"]</h1>

<p>Witamy w "Kafejce" – miejscu, gdzie pasja do kawy spotyka się z ciepłem domowej atmosfery! Nasza kawiarnia powstała z miłości do aromatycznych napojów, wykwintnych deserów i chwil, które można celebrować przy filiżance ulubionej kawy.</p>
<p>Od samego początku stawiamy na jakość, świeżość i lokalność. Nasze kawy pochodzą od starannie wyselekcjonowanych palarni, a składniki do deserów i dodatków wybieramy z troską, dbając o najwyższy standard.</p>
<p>W "Kafejce" każdy znajdzie coś dla siebie – od klasycznych espresso, przez kremowe latte, aż po unikalne kompozycje sezonowe. W naszym menu nie brakuje również smacznych ciast i deserów, które idealnie dopełniają chwilę relaksu w naszym lokalu.</p>
<p>Naszą misją jest nie tylko dostarczanie doskonałych produktów, ale także budowanie relacji z naszymi klientami. Dlatego stworzyliśmy program lojalnościowy, który pozwala nagradzać Was za każdą wizytę. Zbierajcie pieczątki, odkrywajcie nowe smaki i cieszcie się bonusami, które przygotowaliśmy specjalnie dla Was.</p>
