@using Microsoft.AspNetCore.Identity
@model Kafejka.Models.Transaction

@{
    ViewData["Title"] = "Dodaj wizytę";
    var menuItems = ViewData["MenuItems"] as List<Kafejka.Models.MenuItem>;
    var users = ViewData["Users"] as List<IdentityUser>;
}

<h1>Zapisz swoją wizytę</h1>

<form asp-action="Create" method="post">
    @if (ViewData["Users"] != null)
    {
        <div class="form-group">
            <label for="selectedUserId">Wybierz użytkownika</label>
            <select id="selectedUserId" name="selectedUserId" class="form-control">
                <option value="">-- Wybierz użytkownika --</option>
                @foreach (var user in users)
                {
                    <option value="@user.Id">@user.UserName</option>
                }
            </select>
        </div>
    }
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" type="number" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PurchaseTime" class="control-label"></label>
        <input asp-for="PurchaseTime" type="datetime-local" class="form-control" />
        <span asp-validation-for="PurchaseTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Lista zakupionych pozycji</label>
        <div>
            <span asp-validation-for="TransactionItemsList" class="text-danger"></span>
            @for (int i = 0; i < menuItems.Count; i++)
            {
                <div class="form-group row">
                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="quantities" min="0" value="0"/>
                    </div>
                    <div class="col-sm-10">
                        <label>@menuItems[i].Name</label>
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}