@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <h4>E-mail: @User.Identity?.Name</h4>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
