@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Aktywacja konta";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Udało się utworzyć konto! <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj aby aktywować konto</a>
</p>
    }
    else
    {
<p>
        Sprawadź maila, aby aktywować konto.
</p>
    }
}

