@model Kafejka.Models.ItemType

@{
    ViewData["Title"] = "Szczegóły rodzaju";
}

<h1>Rodzaj pozycji w menu</h1>

<div>
    <h4>Szczegóły rodzaju</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
